*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

section
{

    width: 100%;
    height: 100vh;
    background: url(images/img2.png);
    background-size: cover;
    background-attachment: fixed;
    /* padding: 12px 8px; */
}

.outer
{
    position: absolute;
    top: 25%;
    left: 63%;
    display: inline-block;
    height: 46vh;
    width: 340px;
    background-color: #dbe0e5;
    border-radius: 12px;
    /* font-size: ; */
    color: black;

    
}
.sign1
{
    color: #a2a5aa;
}

.sign1:hover{
    color:black;
    border-bottom: 3px solid black;
}

.sign2:hover
{
    border-bottom: 3px solid black;
}
.sign
{
   font-size: 20px;
    
   margin: 5px 18px;
   text-align: center;
   
   /* color: black; */
   text-decoration: solid;
}

.inner
{
    background: white;
    height: 100%;
    border-radius: 12px;
    padding: 5px;
    /* margin: 5px; */
    /* width: 100%; */
    
}

input[type="text"],
input[type="password"],
input[type="email"]
{
    
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid black;
    font-size: 14px;
    width: 100%;
}

.input
{
    margin: 5px 0px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    padding: 5px 2px;

}

.btn
{
    
    height: 40px;
    width: 75%;
    border-radius: 16px ;
    color: white;
    background-color: black;
    border-style: none;
    /* padding: 10px 0px; */
    display: inline-block;
    margin: 10px 33px;
    padding: auto;
    /* text-align: center; */
}
.btn:hover
{
    height: 45px;
    width: 76%;
}

.btn a{
    color: white;
    text-decoration: none;
}

.last
{
    text-align: center;
    font-size: 12px;
}

.last a
{
    color: black;
}

.last a:hover
{
    color: #e74c3c
}